@page "/editpokemon/{id}"
@using JaLuPokemon.Models

@inherits EditPokemonBase

<EditForm Model="@Pokemon">
    <h3>Edit Pokemon</h3>
    <hr />
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">
            First Name
        </label>
        <div class="col-sm-10">
            <InputText id="firstName" class="form-control" placeholder="First Name"
                       @bind-Value="Pokemon.Name" />
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">
            Email
        </label>
        <div class="col-sm-10">
            <InputText id="email" class="form-control" placeholder="Email"
                       @bind-Value="Pokemon.Email" />
        </div>
    </div>
     <div class="form-group row">
        <label for="typeOne" class="col-sm-2 col-form-label">
            TypeOne
        </label>
        <div class="col-sm-10">
            <CustomInputSelect id="typeOne" @bind-Value="Pokemon.TypeOneId" class="form-control">
                @foreach (var type in PokemonTypes)
                {
                    <option value="@type.PokemonTypeId" >@type.Value</option>
                }
            </CustomInputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label for="typeTwo" class="col-sm-2 col-form-label">
            TypeTwo
        </label>
        <div class="col-sm-10">
            <CustomInputSelect id="typTwo" @bind-Value="Pokemon.TypeTwoId" class="form-control">
                @foreach (var type in PokemonTypes)
                {
                    <option value="@type.PokemonTypeId" >@type.Value</option>
                }
            </CustomInputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label for="gender" class="col-sm-2 col-form-label">
            Gender
        </label>
        <div class="col-sm-10">
            <CustomInputSelect id="gender" @bind-Value="Pokemon.Gender" class="form-control">
                @foreach (var gdr in Enum.GetValues(typeof(Gender)))
                {
                    <option value="@gdr" >@gdr</option>
                }
            </CustomInputSelect>
        </div>
    </div>
</EditForm>