@page "/pokemondetails/{id}" 
@page "/pokemondetails" 
@inherits PokemonDetailsBase
@if (Pokemon == null)
{
    <div class="spinner"></div>
}
else
{
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Pokemon.Name @Coordinates</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="@Pokemon.PhotoPath"  @onmousemove="@(e => Coordinates = $"X = {e.ClientX} Y = {e.ClientY} ")" />
                <h4>Pokemon ID : @Pokemon.PokemonId</h4>
                <h4>TypeOne : @(Pokemon.TypeOne == null ? "N/A" : Pokemon.TypeOne.Value )</h4>
                <h4>TypeTwo : @(Pokemon.TypeTwo == null ? "N/A" : Pokemon.TypeTwo.Value)</h4>
                <button class="btn btn-primary" @onclick="@Button_Click">@ButtonText</button>

            </div>
            <div class="card-footer text-center @CssClass">
                <a href="/" class="btn btn-primary">Back</a>
                <a href="@($"editpokemon/{Pokemon.PokemonId}")" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
}
